main{
    height: 70vh;
    margin-top: 3rem;
/*     background-image: url('../../assets/paisaje.jpg');
     background-color: var(--light-background);*/
    background-repeat: no-repeat;   
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center !important;
    padding: 10px;
    /*backdrop-filter: blur(2px);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));*/
   
}

h1{
    color:var(--hot-color);
    /*box-shadow: var(--shadow-gral);*/
    text-shadow: 1px 1px 2px var(--strong-background);
}

p{
    margin: 1rem auto;
    color: white;
    /*background: radial-gradient(ellipse at center, var(--light-background), rgba(0, 0, 0, 0));
    backdrop-filter: opacity(20%);*/
    border-radius: 50px;
    text-shadow: 2px 2px 4px var(--strong-background);
}

.arrow>img{
    height: 32px;
}

.info{
   width: 100px;
   padding: .4rem;
   justify-content: center;
}

.info {
    animation: bit 5000ms infinite ease;
    animation-delay: 1s;
}

@keyframes bit{
    0%{
        transform: none;
    }
    10%{
        transform: scale(130%);
    }
    20%{
        transform:none;
    }
}

.up-font {
    position: absolute;
    bottom: 0.5rem;
    right: 0.6rem;
    font-size: 2rem;
    min-width: 30px;
    min-height: 30px;
    color: #323b41;
    animation: up 5000ms infinite ease-in;
    animation-delay: 1s;
}

@keyframes up{
    0%{
        transform:none;
    }
    3%{
        transform: translate(0px, -10px);
        font-size: 2rem;
    }

    6%{
        transform: translate(0px, 5px);
    }

    9%{
        transform: translate(0px, -10px);
    }

    15%{
        transform: none;
    }
}

@media screen and (min-width: 400px) {
    main{
        height: 50vh;
        align-items: end;
        padding: 20px !important;
    }

    p{
        margin: auto 5rem;
        padding: 1rem;
        font-size: 20px !important;
    }
}

@media screen and (min-width: 700px) {
    main{
        width: 70%;
        border: .3rem soid black;
    }
}
