footer {
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    background-color: var(--strong-background);
    margin-top: 30px !important;
}

.a-redes-logo {
    object-fit: contain;
    margin: 5px;
}

.a-redes-logo,
.a-redes-logo>img {
    width: 40px;
    height: 40px;
}
.footerMenu{
    flex-direction: column;
}

.redes-group{
    align-items: start !important
}

@media screen and (min-width: 400px) {
    .footerBrand{
        width: 80%;
    }
}

@media screen and (min-width: 560px) {
    .footerMenu{
        flex-direction: row;;
        max-width: 50%;
    }
    
    .redes-group{
        justify-content: center;
    }

    .footerBrand{
        width: 50%;
    }
}


