footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--strong-background);
}

.a-redes-logo {
    object-fit: contain;
    margin: 5px;
}

.a-redes-logo,
.a-redes-logo>img {
    width: 40px;
    height: 40px;
}

.footerMenu{
    flex-direction: row;
}
@media screen and (max-width: 400px) {
    .redes-group{
        flex-direction: column;
    }
}