.carrusel{
    border: 2px solid blue;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    width: 100%;
    height: 40vh !important;
    z-index: 1;
    position: relative;
}



.containerImages{
    text-align: center !important;
    gap: 15px;
   
}

.cardDiv{
    width: 100%;
    height: 300px;
    position: relative;
    flex-grow: 2;
}

.carImg5{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: sepia(60%);
}

.cardDiv > span {
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 5%;
    width: 90%;
    text-align: center;
    color:var(--light-background);
    font-weight: bold;
    background-color: aqua;
}

.left{
    border: 2px solid green;
    position: absolute;
    left: 0px;
    z-index: 3;
}

.right{
    position: absolute;
    right: 0px;
    z-index: 3;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

/*.carImg{
    position: absolute;
    width: 100%;
    border: 2px solid green;
    z-index: 2;
}*/

/* .carImg4{
    width: 20%;
    border: 2px solid green;
    z-index: 2;
} */



/*.carImg4:hover{
    width: 22%;
}*/

.line{
    background-color: var(--light-background);
    position: absolute;
    width: 20px;
    height: 5px;
    border-radius: 10px;
    bottom: 20%;
    z-index: 3;
}

@media screen and (min-width: 450px) {
    .cardDiv{
       width: 150px;
    }
}


