.carrusel{
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    width: 100%;
    z-index: 1;
    position: relative;
    margin: 1rem auto;
}

.containerImages{
    text-align: center !important;
    gap: 15px;
   
}

.cardDiv{
    width: 100%;
    height: 100px;
    position: relative;
    flex-grow: 2;
}

.carImg5{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.spanDiv, .spanDiv > span {
    position: absolute;
    bottom: 5px;
    left: 5%;
    width: 90%;
    text-align: center;
}

.spanDiv{
    z-index: 3;
    height: 3rem;
   
}

.spanDiv>span{
    z-index: 4;
    color:black;
    font-weight: bold;
    background: radial-gradient(ellipse at center, var(--light-background), rgba(0, 0, 0, 0));
    backdrop-filter: opacity(20%);
    padding: 3px;
}

.left{
    position: absolute;
    left: -30px;
    z-index: 3;
}

.right{
    position: absolute;
    right: -30px;
    z-index: 3;
}

.line{
    background-color: var(--light-background);
    position: absolute;
    width: 20px;
    height: 5px;
    border-radius: 10px;
    bottom: 20%;
    z-index: 3;
}

@media screen and (min-width: 450px) {

    .carrusel{
        width: 80%;
    }

    .cardDiv{
        width: 150px;
    }
}

@media screen and (min-width: 750px) {

    .carrusel{
        width: 60%;
    }

    .cardDiv{
        height: 300px;
    }
}


