@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Kalam&family=Lobster&family=Roboto:wght@100&display=swap');

*{
  padding: 0% !important;
  margin: 0% !important;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  --light-background: rgba(235, 235, 85)/*#FFE155/*#EBEBEB*/;
  --strong-background: #023047;
  --hot-color: #FB8500;
  --hot-color-trans: rgba(251, 133, 0, 0.1);
  --light-background-trans: rgba(/*255, 225, 85,*/235, 235, 235, 0.3);
  --dark-button: /*#FB8500*/#4F46E5;
  --shadow-gral: -5px -5px 8px 5px rgba(2, 48, 71, .8);
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: var(--dark-button);
}

html{
  min-width: 260px;
}

@media screen and (min-width: 1200px) {
  body{
    background-position: 52%;
  }
}

