#container, nav{
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

nav{
    display: flex;
    border: .2rem solid coral;
}

.containerTittle{
    border:.2rem solid green;
    width: 50%;
    gap: 1rem;
    margin-right: 0% !important;
    padding-right: 0% !important;
}

.containerButton{
    justify-content: end;
}

.tittle{
    position: fixed;
    top: .4em;
    left: 2em;
    margin-top: 1em;
    border: .2rem solid blue;
    width: 150px;
    font-size: 1.2rem;
}

a{
    color: black !important;
}



.containerNav{
    
}

ul{
    border: .2rem solid red;
    justify-content: space-around;
    align-items: center;
    padding-top: .3rem;;
}

.login{
    color: #ffffff !important;
    background-color: #4F46E5;
    padding: 2px 5px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 500;
}

.login > img{
    width: 20px;
   margin-right: 5px;
}

li{
    padding: .3rem;
}

button{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% !important;
    gap: 10px;
}

span{
   
}



