nav{
    display: flex;
    justify-content: end;
}

.divLogo{
    display: flex;
    padding-left: 1rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.divLogo > img{
    width: 200px;
}

.divLinks{
    height: auto;
}

ul{
    justify-content: space-around;
    align-items: end;
    padding-top: .3rem;
    padding-right: 1rem !important;
   width: 100%;
}

.button{
    color: white !important;
    background-color: var(--strong-background);
    padding: 2px 5px 6px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500;
    max-width: 150px;
}

.buttonContainer{
    align-items: end;
    width: 100%;
   
}

@media screen and (min-width: 768px) {
    
    .buttonContainer{
        width: auto;
        min-width: 25%;
    }
   
}
